#about-us {
  margin: 0 9%;
  padding: 3rem 0;

  .about {
    .about-title {
      h3 {
        font-family: $primary-font;
        font-size: 1.8rem;
        padding-bottom: 1rem;
        text-align: center;
        color: $primary-color;
      }
    }

    .btn-container {
      border-bottom: 2px solid rgba($black-color, 0.2);
      margin: auto;
      width: 25rem;
      justify-content: center;

      .tab-btn {
        width: 8.15rem;
        font-size: 1.2rem;
        font-family: $secondary-font;
        padding: 0.5rem 1rem;
        color: $primary-color;

        &:hover:not(.active) {
          background-color: rgba($black-color, 0.2);
        }
      }
      .active {
        background-color: $primary-color;
        color: $white-color;
      }
    }

    .about-content {
      padding-top: 2rem;

      text-align: justify;
      display: block;
      .about-text {
        display: none;
        .about-img {
          width: 100%;

          img {
            width: 100%;
            height: 20rem;
            object-fit: cover;
            object-position: center center;
            overflow: hidden;
          }
        }
        // .active{
        //   display: block;
        // }
      }
      .active {
        // display: block;
        line-height: 2rem;
        font-family: $secondary-font;
        font-size: 1.1rem;
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 6rem;
        overflow: hidden;
        color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #about-us {
    .about {
      .about-content {
        .active {
          font-size: 1rem;
          grid-template-columns: 40% 60%;
          gap: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #about-us {
    margin: 0 2%;

    .about {
      .about-title {
        h3 {
          font-size: 1.6rem;
        }
      }
      .btn-container {
        border-bottom: 2px solid rgba($black-color, 0.2);
        margin: 0 auto;
        width: 15.5rem;
        justify-content: center;

        .tab-btn {
          width: 5rem;
          font-size: 1rem;
          padding: 0.5rem 0.5rem;
        }
        .active {
          background-color: $primary-color;
          color: $white-color;
        }
      }
      .about-content {
        padding-top: 1rem;

        .active {
          line-height: 1.6rem;

          grid-template-columns: 1fr;
          gap: 1.5rem;
        }
      }
    }
  }
}
