#bs {
  background-color: $white-color;
  padding: 3rem 0;

  .container {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 2rem;

    h3 {
      font-family: $primary-font;
      font-size: 1.8rem;
      padding-bottom: 0.5rem;
      text-align: center;
      color: $primary-color;
    }
    .card1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }
    .card {
      transition: transform 1s ease;
      padding: 0.5rem;
      line-height: 1.5rem;
      text-align: center;
      color: $black-color;

      p {
        font-size: 1rem;
        color: $primary-color;
        font-family: $secondary-font;
        line-height: 2rem;
        text-align: justify;
      }
      .card-img {
        img {
          width: 100%;
          height: 18rem;
          // border: 2px solid $primary-color;
          object-fit: cover;
          object-position: center center;
          border-top-right-radius: 2rem;
          border-bottom-left-radius: 2rem;

          &:hover {
            transform: scale(1.04, 1.04);
          }
        }
      }

      &:hover {
        button {
          display: inline-block;
          @include button;
          width: 40%;
        }
      }

      h4 {
        font-size: 1rem;
        font-family: $primary-font;
      }

      button {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #bs {
    padding: 3rem 0;

    .container {
      margin-left: 2rem;
      margin-right: 2rem;
      padding-top: 0;
      grid-template-columns: 1fr;
      grid-template-areas:
        "card2"
        "card3"
        "card6"
        "card7";

      h3 {
        font-size: 1.5rem;
      }

      .card2 {
        grid-area: card2;
      }

      .card3 {
        grid-area: card3;
      }

      .card6 {
        grid-area: card6;
      }

      .card7 {
        grid-area: card7;
      }

      .card {
        .card-text {
          button {
            margin-top: 1.5rem;
            margin: auto;
            @include button;
            width: 40%;
          }
        }
        &:hover {
          button {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #bs {
    padding: 2rem 0;

    .container {
      margin-left: 1rem;
      margin-right: 1rem;
      padding-top: 0;
      row-gap: 1rem;

      h3 {
        padding-bottom: 1rem;
      }
      .card1 {
        grid-template-columns: 1fr;
      }
      .card {
        .card-text {
          button {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
