.face-main-text {
  left: 23%;
}
#faq {
  background-color: rgba($primary-color, 0.2);
  padding: 3rem 0;
  .faq-head {
    padding-bottom: 2.5rem;
    text-align: center;
    font-size: 1.8rem;
    color: $primary-color;
    font-family: $primary-font;
  }
  .faq-btn {
    border-radius: 1rem;
    margin: auto;
    width: 7rem;
    button {
      text-align: center;
      @include button;
    }
  }
  .faq-container {
    margin: 0 9%;

    .questions {
      background-color: $white-color;
      margin-bottom: 1rem;
      line-height: 2rem;

      .question-title {
        display: flex;
        color: $primary-color;
        font-family: $primary-font;
        padding: 1rem;
        justify-content: space-between;

        .question-btn {
          font-size: 1.3rem;
          background-color: rgba($primary-color, 0.2);
          border: 2px solid $primary-color;

          .minus {
            display: none;
          }
        }
      }
      .question-answer {
        font-family: $secondary-font;
        color: $black-color;
        padding: 1rem;
        display: none;
        border-top: 2px solid rgba($primary-color, 0.5);
      }
    }
  }
}
.display-btns {
  display: block;
}

.unshow {
  display: none;
}
@media screen and (max-width: 1024px) {
  #faq {
    .faq-head {
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 600px) {
  #faq {
    .faq-btn {
      margin-top: 2rem;
    }
    .faq-container {
      margin: 0 2rem;

      .questions {
        .question-title {
          font-size: 0.9rem;
          align-items: center;
          h3 {
            padding-right: 1rem;
            text-align: justify;
          }

          .question-btn {
            font-size: 1.2rem;
            height: 100%;
            padding: 0.2rem;
            .display-btns {
              display: inline-block;
            }
          }
        }
        .question-answer {
          font-size: 1rem;
          text-align: justify;
        }
      }
    }
  }
}
