.modal {
  width: 100%;
  height: 93vh;
  background-color: rgba($dark-color, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  backdrop-filter: blur(3px);
  z-index: 24;
  overflow: hidden;

  .modal-overlay {
    background-color: $white-color;
    border: 0.3rem solid #602814;
    // height: 60vh;
    width: 40vw;
    margin: auto;
    padding: 0 3rem 3rem;
    position: absolute;
    top: 25%;
    left: 32%;
    overflow: hidden;
    .close-modal {
      text-align: end;
      padding-top: 1rem;
      padding-bottom: 1rem;
      .material-symbols-outlined {
        font-size: 1.8rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .modal-content {
      h4 {
        font-size: 1.7rem;
        font-family: $primary-font;
        padding-bottom: 2rem;
        color: $primary-color;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-align: justify;
        font-family: $secondary-font;
        font-weight: 400;
      }
      .button {
        text-align: center;
        padding-top: 2rem;
        button {
          height: 2rem;
          width: 30%;
          background-color: $primary-color;
          border: 1px solid $black-color;
          border-radius: 0.8rem;
          &:hover {
            cursor: pointer;
            background-color: $black-color;
          }
        }

        span {
          font-size: 1rem;
          color: $white-color;
        }
      }
      .input {
        font-size: 1.1rem;
        padding: 0.3rem;
        margin: 0.5rem 0;
        border-radius: 0.4rem;
        border: 2px solid rgba($primary-color, 0.2);
        input {
          width: 100%;
        }
      }
    }
  }
}
.show-modal {
  display: block;
}
#home {
  position: relative;
  overflow: hidden;

  #swiper1 {
    .swiper-slide {
      // position: relative;

      img {
        width: 100%;
        height: 93vh;
        display: block;
        object-fit: cover;
        object-position: 50% 55%;
      }

      .logo {
        h2 {
          font-family: "Quintessential", cursive;

          .material-symbols-outlined {
            font-size: 2.5rem;
          }
        }

        position: absolute;
        top: 20%;
        left: 1rem;
        font-family: $primary-font;
        font-weight: 700;
        font-size: 2.3rem;
        color: $black-color;
      }
      .home-text {
        position: absolute;
        top: 40%;
        left: -0.5rem;
        font-family: $primary-font;
        font-weight: 700;
        font-size: 1.3rem;
        width: 25rem;
        padding: 1rem;
        background-color: rgba($black-color, 0.8);
        color: $white-color;
        border-radius: 0.7rem;
      }

      .shop {
        position: absolute;
        top: 66%;
        left: 7rem;

        p {
          @include button;
        }
      }

      .home-text2 {
        position: absolute;
        top: 40%;
        right: -0.5rem;
        font-family: "Lato" sans-serif;
        font-weight: 700;
        font-size: 1.3rem;
        width: 25rem;
        padding: 1rem;
        background-color: rgba($black-color, 0.8);
        color: $white-color;
        border-radius: 0.7rem;
      }

      .shop2 {
        position: absolute;
        top: 66%;
        right: 7rem;
        p {
          @include button;
        }
      }
    }
    .swiper-pagination {
      margin-bottom: 2.5rem;

      .swiper-pagination-bullet {
        opacity: 1;
        background-color: $dark-color;
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.5rem;
      }

      .swiper-pagination-bullet-active {
        @include gradient;
      }
    }
  }
}

/* ---------MEDIA QUERIES(MEDIUM DEVICES)--------- */
@media screen and (max-width: 1024px) {
  .modal {
    display: none;
  }

  #home {
    #swiper1 {
      .swiper-wrapper {
        .swiper-slide {
          img {
            height: 50vh;
          }
          .logo {
            h2 {
              .material-symbols-outlined {
                font-size: 2rem;
              }
            }
            font-size: 1.5rem;
          }
          .home-text {
            font-weight: 600;
            font-size: 1.1rem;
            width: 25rem;
          }

          .shop {
            top: 60%;
            left: 5rem;
            p {
              @include button;
            }
          }

          .home-text2 {
            font-size: 1.3rem;
            width: 25rem;
          }

          .shop2 {
            position: absolute;
            top: 60%;
            right: 5rem;
            p {
              @include button;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  #home {
    #swiper1 {
      .swiper-wrapper {
        .swiper-slide {
          img {
            height: 50vh;
          }
          .logo {
            display: none;
          }
          .home-text {
            font-weight: 400;
            font-size: 0.6rem;
            width: 50%;
            padding: 0.8rem;
            top: 50%;
          }

          .shop {
            top: 70%;
            left: 1.5rem;
            p {
              @include button;
              padding: 0.4rem 0.5rem;
              font-size: 0.6rem;
            }
          }

          .home-text2 {
            top: 50%;

            font-weight: 400;

            font-size: 0.6rem;
            width: 50%;
            padding: 0.8rem;
          }

          .shop2 {
            top: 75%;
            right: 1.5rem;
            p {
              @include button;
              padding: 0.4rem 0.5rem;
              font-size: 0.6rem;
            }
          }
        }
      }
      .swiper-pagination {
        margin-bottom: 0.2rem;

        .swiper-pagination-bullet {
          width: 0.5rem;
          height: 0.5rem;
        }
      }
    }
  }
}
