@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap&family=Quintessential&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.top-link {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: #292828;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  color: #fffffe;
  animation: jump 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.top-link .bx-up-arrow-alt {
  font-size: 1.7rem;
}

.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
nav .fixed-nav {
  visibility: hidden;
}
nav .nav-container {
  width: 100vw;
  height: auto;
  position: fixed;
  z-index: 10;
  place-items: center;
  box-shadow: 0 1rem 1rem rgba(96, 40, 20, 0.1);
  background-color: #fffffe;
  font-family: "Playfair Display", serif;
  padding: 1rem 9%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
nav .nav-container .left-bar {
  font-weight: 700;
  font-size: 1.8rem;
}
nav .nav-container .left-bar h2 {
  color: #602814;
  font-size: 2rem;
  display: inline;
  font-family: "Quintessential", cursive;
}
nav .nav-container .left-bar span {
  font-size: 2rem;
}
nav .nav-container .right-bar {
  align-items: end;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0.5rem;
}
nav .nav-container .right-bar .toggle-container {
  position: relative;
}
nav .nav-container .right-bar .toggle-container .toggle-cart {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
nav .nav-container .right-bar .toggle-container .toggle-cart .bx-cart {
  font-size: 2rem;
  color: #602814;
}
nav .nav-container .right-bar .toggle-container .cart-item-count {
  position: absolute;
  top: -0.65rem;
  right: 0.7rem;
  background: #602814;
  width: 1.75rem;
  height: 1.75rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #fffffe;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}
nav .nav-container .right-bar .bx {
  font-size: 2rem;
  color: #602814;
  margin-right: 1.4rem;
}
nav .nav-container .middle-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-container .middle-bar ul {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}
nav .nav-container .middle-bar ul li .link-btn {
  background-color: transparent;
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  color: #602814;
}
nav .nav-container .sb {
  display: none;
}
nav .nav-container a {
  color: #602814;
  font-weight: 400;
  font-size: 1.1rem;
}
nav .nav-container .nav-styles {
  background-color: transparent;
}
nav .nav-container .white {
  background-color: white;
}

.sidebar-wrapper {
  display: none;
}

.main-submenu {
  background: #602814;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: translateX(-50%);
  z-index: 13;
  display: none;
  padding: 2rem;
  border-radius: 0.75rem;
  cursor: pointer;
}
.main-submenu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #602814;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.main-submenu .submenu-content h4 {
  color: #fffffe;
  font-family: "Playfair Display", serif;
  padding-bottom: 1rem;
  font-size: 1.3rem;
}
.main-submenu .submenu-content .submenu-center {
  display: grid;
  row-gap: 1.5rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.main-submenu .submenu-content .submenu-center span {
  font-family: "Lato", sans-serif;
  color: #fffffe;
  font-size: 1.2rem;
}
.main-submenu .submenu-content .col-3 {
  grid-template-columns: repeat(3, auto);
}
.main-submenu .submenu-content .col-5 {
  grid-template-columns: repeat(5, auto);
}

.show {
  display: block;
  z-index: 15;
}

/* ---------MEDIA QUERIES(MEDIUM DEVICES)--------- */
@media screen and (max-width: 1024px) {
  nav .nav-container {
    display: flex;
    padding: 1rem 1rem;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-size: 1rem;
  }
  nav .nav-container .sb {
    display: inline-block;
  }
  nav .nav-container .sb .sidebar {
    background: transparent;
    color: #602814;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 0.2rem;
  }
  nav .nav-container .middle-bar {
    background-color: #fffffe;
    display: none;
  }
  nav .nav-container .right-bar {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.6rem;
  }
  nav .nav-container .right-bar .bx {
    font-size: 2rem;
    color: #602814;
    margin-right: 0;
    padding-right: 0.5rem;
  }
  nav .nav-container .right-bar .bx-moon {
    display: none;
  }
  nav .nav-container .right-bar .toggle-container .cart-item-count {
    right: -0.04rem;
    width: 1.6rem;
    height: 1.6rem;
    top: -0.55rem;
  }
  nav .nav-container .left-bar {
    font-weight: 700;
    font-size: 1rem;
  }
  nav .nav-container .left-bar h2 {
    color: #602814;
    font-size: 1.9rem;
    display: inline;
  }
  nav .nav-container .left-bar span {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 600px) {
  nav .nav-container .sb .sidebar {
    font-size: 1.5rem;
  }
  nav .nav-container .right-bar {
    gap: 0.3rem;
  }
  nav .nav-container .right-bar .bx {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    visibility: hidden;
    z-index: -999;
    background: rgba(0, 0, 0, 0.5);
  }
  @keyframes flipNavBar {
    0% {
      transform: rotateY(90deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  .sidebar-wrapper .side-bar {
    width: 90vw;
    height: 95vh;
    background: #fffffe;
    border-radius: 0.75rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 4rem 2rem;
  }
  .sidebar-wrapper .side-bar .sidebar-links .sidebar-text h4 {
    color: #602814;
    font-family: "Playfair Display", serif;
    padding-bottom: 1rem;
    font-size: 1.3rem;
  }
  .sidebar-wrapper .side-bar .sidebar-links .sidebar-text .sidebar-text-submenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.1rem;
    -moz-column-gap: 0.6rem;
         column-gap: 0.6rem;
    font-family: "Lato", sans-serif;
    padding-bottom: 1.7rem;
  }
  .sidebar-wrapper .side-bar .sidebar-links .sidebar-text .sidebar-text-submenu span {
    color: #602814;
    font-size: 1.1rem;
  }
  .sidebar-wrapper .side-bar .sidebar {
    display: inline-block;
    background: transparent;
    color: #602814;
    font-size: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}
.show-nav {
  visibility: visible;
  z-index: 15;
  animation-name: flipNavBar;
  animation-duration: 500ms;
  animation-timing-function: ease;
  transform-origin: center;
}

.remove {
  visibility: hidden;
}

.modal {
  width: 100%;
  height: 93vh;
  background-color: rgba(41, 40, 40, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 24;
  overflow: hidden;
}
.modal .modal-overlay {
  background-color: #fffffe;
  border: 0.3rem solid #602814;
  width: 40vw;
  margin: auto;
  padding: 0 3rem 3rem;
  position: absolute;
  top: 25%;
  left: 32%;
  overflow: hidden;
}
.modal .modal-overlay .close-modal {
  text-align: end;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.modal .modal-overlay .close-modal .material-symbols-outlined {
  font-size: 1.8rem;
}
.modal .modal-overlay .close-modal:hover {
  cursor: pointer;
}
.modal .modal-overlay .modal-content h4 {
  font-size: 1.7rem;
  font-family: "Playfair Display", serif;
  padding-bottom: 2rem;
  color: #602814;
}
.modal .modal-overlay .modal-content p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.modal .modal-overlay .modal-content .button {
  text-align: center;
  padding-top: 2rem;
}
.modal .modal-overlay .modal-content .button button {
  height: 2rem;
  width: 30%;
  background-color: #602814;
  border: 1px solid #602814;
  border-radius: 0.8rem;
}
.modal .modal-overlay .modal-content .button button:hover {
  cursor: pointer;
  background-color: #602814;
}
.modal .modal-overlay .modal-content .button span {
  font-size: 1rem;
  color: #fffffe;
}
.modal .modal-overlay .modal-content .input {
  font-size: 1.1rem;
  padding: 0.3rem;
  margin: 0.5rem 0;
  border-radius: 0.4rem;
  border: 2px solid rgba(96, 40, 20, 0.2);
}
.modal .modal-overlay .modal-content .input input {
  width: 100%;
}

.show-modal {
  display: block;
}

#home {
  position: relative;
  overflow: hidden;
}
#home #swiper1 .swiper-slide img {
  width: 100%;
  height: 93vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 55%;
     object-position: 50% 55%;
}
#home #swiper1 .swiper-slide .logo {
  position: absolute;
  top: 20%;
  left: 1rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2.3rem;
  color: #602814;
}
#home #swiper1 .swiper-slide .logo h2 {
  font-family: "Quintessential", cursive;
}
#home #swiper1 .swiper-slide .logo h2 .material-symbols-outlined {
  font-size: 2.5rem;
}
#home #swiper1 .swiper-slide .home-text {
  position: absolute;
  top: 40%;
  left: -0.5rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.3rem;
  width: 25rem;
  padding: 1rem;
  background-color: rgba(96, 40, 20, 0.8);
  color: #fffffe;
  border-radius: 0.7rem;
}
#home #swiper1 .swiper-slide .shop {
  position: absolute;
  top: 66%;
  left: 7rem;
}
#home #swiper1 .swiper-slide .shop p {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  background: #602814;
  color: #fffffe;
  cursor: pointer;
  transition: all 400ms ease;
  font-size: 0.8rem;
  box-shadow: none;
}
#home #swiper1 .swiper-slide .shop p:hover {
  background: #602814;
  color: #fffffe;
  font-size: 0.9rem;
}
#home #swiper1 .swiper-slide .home-text2 {
  position: absolute;
  top: 40%;
  right: -0.5rem;
  font-family: "Lato" sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  width: 25rem;
  padding: 1rem;
  background-color: rgba(96, 40, 20, 0.8);
  color: #fffffe;
  border-radius: 0.7rem;
}
#home #swiper1 .swiper-slide .shop2 {
  position: absolute;
  top: 66%;
  right: 7rem;
}
#home #swiper1 .swiper-slide .shop2 p {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  background: #602814;
  color: #fffffe;
  cursor: pointer;
  transition: all 400ms ease;
  font-size: 0.8rem;
  box-shadow: none;
}
#home #swiper1 .swiper-slide .shop2 p:hover {
  background: #602814;
  color: #fffffe;
  font-size: 0.9rem;
}
#home #swiper1 .swiper-pagination {
  margin-bottom: 2.5rem;
}
#home #swiper1 .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #292828;
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.5rem;
}
#home #swiper1 .swiper-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(112deg, #ffe0b1, #d7b48e);
}

/* ---------MEDIA QUERIES(MEDIUM DEVICES)--------- */
@media screen and (max-width: 1024px) {
  .modal {
    display: none;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide img {
    height: 50vh;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .logo {
    font-size: 1.5rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .logo h2 .material-symbols-outlined {
    font-size: 2rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .home-text {
    font-weight: 600;
    font-size: 1.1rem;
    width: 25rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop {
    top: 60%;
    left: 5rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop p {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    background: #602814;
    color: #fffffe;
    cursor: pointer;
    transition: all 400ms ease;
    font-size: 0.8rem;
    box-shadow: none;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop p:hover {
    background: #602814;
    color: #fffffe;
    font-size: 0.9rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .home-text2 {
    font-size: 1.3rem;
    width: 25rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop2 {
    position: absolute;
    top: 60%;
    right: 5rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop2 p {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    background: #602814;
    color: #fffffe;
    cursor: pointer;
    transition: all 400ms ease;
    font-size: 0.8rem;
    box-shadow: none;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop2 p:hover {
    background: #602814;
    color: #fffffe;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  #home #swiper1 .swiper-wrapper .swiper-slide img {
    height: 50vh;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .logo {
    display: none;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .home-text {
    font-weight: 400;
    font-size: 0.6rem;
    width: 50%;
    padding: 0.8rem;
    top: 50%;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop {
    top: 70%;
    left: 1.5rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop p {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    background: #602814;
    color: #fffffe;
    cursor: pointer;
    transition: all 400ms ease;
    font-size: 0.8rem;
    box-shadow: none;
    padding: 0.4rem 0.5rem;
    font-size: 0.6rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop p:hover {
    background: #602814;
    color: #fffffe;
    font-size: 0.9rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .home-text2 {
    top: 50%;
    font-weight: 400;
    font-size: 0.6rem;
    width: 50%;
    padding: 0.8rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop2 {
    top: 75%;
    right: 1.5rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop2 p {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    background: #602814;
    color: #fffffe;
    cursor: pointer;
    transition: all 400ms ease;
    font-size: 0.8rem;
    box-shadow: none;
    padding: 0.4rem 0.5rem;
    font-size: 0.6rem;
  }
  #home #swiper1 .swiper-wrapper .swiper-slide .shop2 p:hover {
    background: #602814;
    color: #fffffe;
    font-size: 0.9rem;
  }
  #home #swiper1 .swiper-pagination {
    margin-bottom: 0.2rem;
  }
  #home #swiper1 .swiper-pagination .swiper-pagination-bullet {
    width: 0.5rem;
    height: 0.5rem;
  }
}
#about-us {
  margin: 0 9%;
  padding: 3rem 0;
}
#about-us .about .about-title h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #602814;
}
#about-us .about .btn-container {
  border-bottom: 2px solid rgba(96, 40, 20, 0.2);
  margin: auto;
  width: 25rem;
  justify-content: center;
}
#about-us .about .btn-container .tab-btn {
  width: 8.15rem;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  padding: 0.5rem 1rem;
  color: #602814;
}
#about-us .about .btn-container .tab-btn:hover:not(.active) {
  background-color: rgba(96, 40, 20, 0.2);
}
#about-us .about .btn-container .active {
  background-color: #602814;
  color: #fffffe;
}
#about-us .about .about-content {
  padding-top: 2rem;
  text-align: justify;
  display: block;
}
#about-us .about .about-content .about-text {
  display: none;
}
#about-us .about .about-content .about-text .about-img {
  width: 100%;
}
#about-us .about .about-content .about-text .about-img img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  overflow: hidden;
}
#about-us .about .about-content .active {
  line-height: 2rem;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 6rem;
  overflow: hidden;
  color: #602814;
}

@media screen and (max-width: 1024px) {
  #about-us .about .about-content .active {
    font-size: 1rem;
    grid-template-columns: 40% 60%;
    gap: 3rem;
  }
}
@media screen and (max-width: 600px) {
  #about-us {
    margin: 0 3%;
  }
  #about-us .about .about-title h3 {
    font-size: 1.5rem;
  }
  #about-us .about .btn-container {
    border-bottom: none;
    margin: 0 auto;
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }
  #about-us .about .btn-container .tab-btn {
    border-bottom: 2px solid rgba(96, 40, 20, 0.2);
    margin-right: 0.3rem;
    width: auto;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
  }
  #about-us .about .btn-container .active {
    background-color: #602814;
    color: #fffffe;
  }
  #about-us .about .about-content {
    padding-top: 1rem;
  }
  #about-us .about .about-content .active {
    line-height: 1.6rem;
    font-size: 0.9rem;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
#services {
  display: block;
  overflow: hidden;
}
#services .container {
  position: relative;
  background-image: url(./images/arami/Arami-Edens-Elixir-Refill-pouch-and-Empty-Glass-Bottle-scaled.jpeg);
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#services .container .layer {
  background-color: rgba(255, 255, 254, 0.4);
  height: 100vh;
}
#services .container .layer .headtext {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: -1.5%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fffffe;
  border-radius: 1rem;
  width: 25rem;
  padding: 1.5rem;
}
#services .container .serve-text {
  position: absolute;
  top: 6%;
  right: 5%;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.1rem;
  height: 100vh;
}
#services .container .serve-text .txt {
  padding: 0.5rem 2rem;
  color: black;
}
#services .container .serve-text .txt h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  text-align: justify;
}
#services .container .serve-text .txt p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  text-align: justify;
  margin-bottom: 0.8rem;
  margin-left: 1.6rem;
  width: 38rem;
}

@media screen and (max-width: 1024px) {
  #services .container {
    position: static;
    height: -moz-fit-content;
    height: fit-content;
  }
  #services .container .layer {
    height: -moz-fit-content;
    height: fit-content;
    padding: 2rem 0;
  }
  #services .container .layer .headtext {
    font-size: 1.5rem;
    width: 100%;
    padding: 0;
    background-color: transparent;
    color: #602814;
    position: static;
  }
  #services .container .serve-text {
    position: static;
    height: 100%;
  }
  #services .container .serve-text .txt {
    padding: 0.2rem 2rem;
    color: #602814;
  }
  #services .container .serve-text .txt p {
    font-size: 1rem;
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #services .container .layer {
    padding: 2rem 0;
    background-color: rgba(255, 255, 254, 0.5);
  }
}
#reviews {
  background-color: #fffffe;
  color: #602814;
  padding-top: 3rem;
  overflow: hidden;
  padding-bottom: 3rem;
  font-family: "Playfair Display", serif;
}
#reviews h3 {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.8rem;
}
#reviews .swiper4 {
  position: relative;
}
#reviews .swiper4 .swiper-wrapper {
  width: 82%;
}
#reviews .swiper4 .swiper-wrapper .swiper-slide {
  background-color: #fffffe;
  padding: 1.5rem 1.5rem;
  cursor: default;
  font-size: 0.9rem;
  border-radius: 1rem;
  border: 2px solid rgba(96, 40, 20, 0.3);
  transition: transform 1s ease;
}
#reviews .swiper4 .swiper-wrapper .swiper-slide:hover {
  transform: scale(1.04, 1.04);
}
#reviews .swiper4 .swiper-wrapper .swiper-slide p {
  color: #602814;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.5rem 1.8rem;
  text-align: justify;
}
#reviews .swiper4 .swiper-wrapper .swiper-slide .star {
  padding: 0 3.2rem;
  color: gold;
}
#reviews .swiper4 .swiper-wrapper .swiper-slide .star-1 {
  padding: 0 3.2rem;
  color: gold;
}
#reviews .swiper4 .swiper-wrapper .swiper-slide .star-1 #bx1 {
  color: rgba(96, 40, 20, 0.8);
}
#reviews .swiper4 .swiper-wrapper .swiper-slide .customer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#reviews .swiper4 .swiper-wrapper .swiper-slide .customer img {
  overflow: hidden;
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
#reviews .swiper4 .swiper-wrapper .swiper-slide .customer h5 {
  margin-bottom: 0.1rem;
  font-size: 0.8rem;
  padding-top: 0.2rem;
}
#reviews .swiper4 .swiper-button-next:after,
#reviews .swiper4 .swiper-rtl .swiper-button-prev:after {
  font-family: swiper-icons;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
#reviews .swiper4 .swiper-button-next:after,
#reviews .swiper4 .swiper-button-prev:after {
  font-size: 32px;
  letter-spacing: 0;
  line-height: 1;
}
#reviews .swiper4 .swiper-button-next,
#reviews .swiper4 .swiper-button-prev {
  position: absolute;
  top: 30%;
  width: 22px;
  height: 64px;
  margin-top: 22px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(96, 40, 20, 0.8);
}

/* ---------MEDIA QUERIES(SMALL DEVICES)--------- */
@media screen and (max-width: 600px) {
  #reviews {
    padding-top: 2rem;
  }
  #reviews .swiper4 {
    margin: 0 1rem;
  }
  #reviews .swiper4 .swiper-wrapper {
    width: 100%;
  }
}
#bs {
  background-color: #fffffe;
  padding: 3rem 0;
}
#bs .container {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  row-gap: 2rem;
}
#bs .container h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
  text-align: center;
  color: #602814;
}
#bs .container .card1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
#bs .container .card {
  transition: transform 1s ease;
  padding: 0.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: #602814;
}
#bs .container .card p {
  font-size: 1rem;
  color: #602814;
  font-family: "Lato", sans-serif;
  line-height: 2rem;
  text-align: justify;
}
#bs .container .card .card-img img {
  width: 100%;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
#bs .container .card .card-img img:hover {
  transform: scale(1.04, 1.04);
}
#bs .container .card:hover button {
  display: inline-block;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  background: #602814;
  color: #fffffe;
  cursor: pointer;
  transition: all 400ms ease;
  font-size: 0.8rem;
  box-shadow: none;
  width: 40%;
}
#bs .container .card:hover button:hover {
  background: #602814;
  color: #fffffe;
  font-size: 0.9rem;
}
#bs .container .card h4 {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}
#bs .container .card button {
  display: none;
}

@media screen and (max-width: 1024px) {
  #bs {
    padding: 3rem 0;
  }
  #bs .container {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 0;
    grid-template-columns: 1fr;
    grid-template-areas: "card2" "card3" "card6" "card7";
  }
  #bs .container h3 {
    font-size: 1.5rem;
  }
  #bs .container .card2 {
    grid-area: card2;
  }
  #bs .container .card3 {
    grid-area: card3;
  }
  #bs .container .card6 {
    grid-area: card6;
  }
  #bs .container .card7 {
    grid-area: card7;
  }
  #bs .container .card .card-text button {
    margin-top: 1.5rem;
    margin: auto;
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    background: #602814;
    color: #fffffe;
    cursor: pointer;
    transition: all 400ms ease;
    font-size: 0.8rem;
    box-shadow: none;
    width: 40%;
  }
  #bs .container .card .card-text button:hover {
    background: #602814;
    color: #fffffe;
    font-size: 0.9rem;
  }
  #bs .container .card:hover button {
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  #bs {
    padding: 2rem 0;
  }
  #bs .container {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 0;
    row-gap: 1rem;
  }
  #bs .container h3 {
    padding-bottom: 1rem;
  }
  #bs .container .card1 {
    grid-template-columns: 1fr;
  }
  #bs .container .card .card-text button {
    margin-top: 0.5rem;
  }
}
#maq {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #602814;
  color: #fffffe;
  height: 7vh;
  overflow: hidden;
}
#maq .marquee-container {
  position: relative;
}
#maq .marquee-container .marquee-words {
  white-space: nowrap;
  animation: marquee-keywords 15s linear infinite;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-family: "Lato", sans-serif;
  position: absolute;
}
@keyframes marquee-keywords {
  0% {
    left: 100%;
  }
  100% {
    left: -170%;
  }
}

@media screen and (max-width: 1024px) {
  #maq {
    margin-bottom: 0;
    padding-top: 2px;
    height: 3.3vh;
  }
  @keyframes marquee-keywords {
    0% {
      left: 100%;
    }
    100% {
      left: -270%;
    }
  }
}
@media screen and (max-width: 600px) {
  #maq .marquee-container .marquee-words {
    font-size: 0.8rem;
  }
  @keyframes marquee-keywords {
    0% {
      left: 100%;
    }
    100% {
      left: -420%;
    }
  }
}
#footer {
  background-color: #602814;
  color: #fffffe;
  font-family: "Lato", sans-serif;
}
#footer .container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  font-size: 1rem;
}
#footer .container a {
  color: #fffffe;
  transition: all 400ms ease;
}
#footer .container a:hover {
  color: #d3a067;
}
#footer .container a > h3 {
  color: #fffffe;
}
#footer .container article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1rem 0;
}
#footer .container article input {
  height: 2rem;
  padding: 0.5rem;
  background-color: #fffffe;
  color: #602814;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}
#footer .container article button {
  height: 2rem;
  width: 30%;
  background-color: #602814;
  border: 1px solid #fffffe;
  border-radius: 1rem;
}
#footer .container article button:hover {
  cursor: pointer;
  background-color: #602814;
}
#footer .container article button span {
  font-size: 1rem;
  color: #fffffe;
}
#footer .container article .mail {
  font-size: 2rem;
}
#footer .container article p {
  font-size: 1rem;
  font-weight: 400;
}
#footer .container article > div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1rem;
}
#footer .container article > h3 {
  color: #fffffe;
}
#footer .container article > h3 span {
  font-size: 2rem;
}
#footer .container article footer_socials {
  gap: 5rem;
}
#footer .payment {
  padding-right: 2rem;
  text-align: end;
}
#footer .payment img {
  width: 16rem;
}
#footer .copyright {
  padding: 2rem 0;
  font-size: 1rem;
  text-align: center;
  border-top: 2px solid rgba(255, 255, 254, 0.3);
}

@media screen and (max-width: 1024px) {
  #footer .container {
    grid-template-columns: 1fr;
    text-align: center;
    padding-bottom: 2rem;
    gap: 0;
  }
  #footer .container .sign input {
    width: 80%;
    font-size: 1rem;
    margin: auto;
  }
  #footer .container article {
    padding: 3rem 1rem 0;
    gap: 1rem;
  }
  #footer .container article button {
    margin: auto;
  }
  #footer .container article .footer_socials {
    margin: auto;
  }
  #footer .container article .contact {
    margin: auto;
  }
  #footer .payment {
    padding-bottom: 2rem;
    padding-right: 0;
    text-align: center;
  }
  #footer .copyright {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  #footer .container .sign input {
    width: 100%;
    font-size: 1rem;
    margin: auto;
  }
}
#nav {
  background-color: #fffffe;
  position: sticky;
}

#face-header {
  background-image: url(./images/nokware/cream-background.webp);
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
#face-header .layer {
  background-color: rgba(96, 40, 20, 0.5);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#face-header .face-main-text {
  display: inline;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top: 40%;
  right: 20%;
  color: #fffffe;
}

#sk {
  background-color: #fffffe;
}
#sk .entire-container {
  padding: 3rem;
  gap: 5rem;
  display: grid;
  grid-template-columns: auto auto;
}
#sk .entire-container .filters .search-input {
  border: 3px #292828 solid;
  width: 16rem;
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}
#sk .entire-container .filters .con {
  line-height: 1.8rem;
  padding-bottom: 1rem;
  color: #292828;
  display: block;
  cursor: pointer;
}
#sk .entire-container .filters .con button {
  display: block;
  line-height: 2rem;
  cursor: pointer;
}
#sk .entire-container .filters .con h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
}
#sk .entire-container .filters .con h4 .bx-chevron-down {
  font-size: 1.6rem;
}
#sk .entire-container .filters .con .skin-filter {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  background-color: #fffffe;
}
#sk .entire-container #swiper5 {
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0.1px;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  width: 100%;
}
#sk .entire-container #swiper5 .filter-error-text {
  display: flex;
  font-size: 2rem;
  color: #292828;
  font-family: "Lato", sans-serif;
  width: 56rem;
  justify-content: center;
}
#sk .entire-container #swiper5 a .p-card {
  border: none;
  height: 24rem;
}
#sk .entire-container #swiper5 a .p-card .c-image img {
  width: 100%;
  height: 14rem;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#sk .entire-container #swiper5 a .p-card .card-text {
  border-top: 2px solid rgba(41, 40, 40, 0.5);
  padding: 1rem;
  line-height: 1.8rem;
  text-align: center;
  color: #292828;
}
#sk .entire-container #swiper5 a .p-card .card-text:hover button {
  display: inline-block;
}
#sk .entire-container #swiper5 a .p-card .card-text h4 {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}
#sk .entire-container #swiper5 a .p-card .card-text p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}
#sk .entire-container #swiper5 a .p-card .card-text button {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  background: #602814;
  color: #fffffe;
  cursor: pointer;
  transition: all 400ms ease;
  font-size: 0.8rem;
  box-shadow: none;
  display: none;
}
#sk .entire-container #swiper5 a .p-card .card-text button:hover {
  background: #602814;
  color: #fffffe;
  font-size: 0.9rem;
}
#sk .page {
  padding-bottom: 3rem;
  text-align: center;
}
#sk .page .page-btn,
#sk .page .prev-btn,
#sk .page .next-btn {
  padding: 0 1rem;
}
#sk .page button {
  background-color: #fffffe;
  border: 2px solid #602814;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
}
#sk .page .active-btn {
  background-color: #602814;
  color: white;
}

@media screen and (max-width: 1024px) {
  #sk .entire-container {
    padding: 3rem;
    display: block;
  }
  #sk .entire-container .filters .search-input {
    width: 26rem;
  }
  #sk .entire-container .filters .con {
    display: block;
  }
  #sk .entire-container .filters .con article {
    display: none;
  }
  #sk .entire-container .filters .con article button {
    text-align: start;
  }
  #sk .entire-container .filters .con .show-filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    cursor: pointer;
  }
  #sk .entire-container #swiper5 {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
  }
  #sk .entire-container #swiper5 .filter-error-text {
    display: block;
    text-align: start;
  }
  #sk .entire-container #swiper5 a .p-card {
    height: 100%;
  }
  #sk .entire-container #swiper5 a .p-card .c-image img {
    height: 12rem;
  }
  #sk .entire-container #swiper5 a .p-card .card-text h4 {
    font-size: 1rem;
    font-family: "Playfair Display", serif;
  }
  #sk .entire-container #swiper5 a .p-card .card-text p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
  }
  #sk .entire-container #swiper5 a .p-card .card-text button {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    background: #602814;
    color: #fffffe;
    cursor: pointer;
    transition: all 400ms ease;
    font-size: 0.8rem;
    box-shadow: none;
  }
  #sk .entire-container #swiper5 a .p-card .card-text button:hover {
    background: #602814;
    color: #fffffe;
    font-size: 0.9rem;
  }
  #sk .entire-container #swiper5 a .p-card .card-text button:hover {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 600px) {
  #sk .entire-container {
    padding: 1rem;
  }
  #sk .entire-container .filters .search-input {
    width: 15rem;
  }
  #sk .entire-container .filters .con article {
    grid-template-columns: repeat(3, 1fr);
  }
  #sk .entire-container .filters .con article .skin-filter {
    font-size: 0.8rem;
  }
  #sk .entire-container #swiper5 {
    padding-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  #sk .entire-container #swiper5 .filter-error-text {
    font-size: 1.1rem;
  }
  #sk .entire-container #swiper5 a .p-card {
    border: none;
  }
  #sk .entire-container #swiper5 a .p-card .c-image img {
    height: 10rem;
  }
  #sk .entire-container #swiper5 a .p-card .card-text h4 {
    font-size: 0.9rem;
    font-family: "Playfair Display", serif;
  }
  #sk .entire-container #swiper5 a .p-card .card-text p {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
  }
  #sk .entire-container #swiper5 a .p-card .card-text button {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    background: #602814;
    color: #fffffe;
    cursor: pointer;
    transition: all 400ms ease;
    font-size: 0.8rem;
    box-shadow: none;
    font-size: 0.7rem;
    padding: 0.5rem 0.5rem;
    width: 7rem;
  }
  #sk .entire-container #swiper5 a .p-card .card-text button:hover {
    background: #602814;
    color: #fffffe;
    font-size: 0.9rem;
  }
  #sk .entire-container #swiper5 a .p-card .card-text button:hover {
    font-size: 0.7rem;
  }
}
#nav {
  background-color: #fffffe;
  position: sticky;
}

#fac-header {
  background-image: url(./images/dang/dang-model.webp);
  height: 80vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
#fac-header .layer {
  background-color: rgba(96, 40, 20, 0.3);
  height: 80vh;
  width: 100vw;
  overflow: hidden;
}
#fac-header .face-main-text {
  display: inline;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  color: #fffffe;
  width: 100vw;
}

#blog {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 0 9%;
  overflow: hidden;
}
#blog .b-card {
  border: none;
  margin-bottom: 1rem;
}
#blog .b-card .blog-img {
  width: 100%;
}
#blog .b-card .blog-img img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#blog .b-card .blog-text {
  border-top: 3px solid rgba(96, 40, 20, 0.3);
  padding: 1rem;
  line-height: 1.8rem;
  text-align: center;
}
#blog .b-card .blog-text:hover button {
  display: inline-block;
}
#blog .b-card .blog-text h3 {
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}
#blog .b-card .blog-text p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}
#blog .b-card .blog-text button {
  display: none;
}
#blog .b-card .blog-text button span {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  background: #602814;
  color: #fffffe;
  cursor: pointer;
  transition: all 400ms ease;
  font-size: 0.8rem;
  box-shadow: none;
}
#blog .b-card .blog-text button span:hover {
  background: #602814;
  color: #fffffe;
  font-size: 0.9rem;
}

#promo {
  display: grid;
  grid-template-columns: 49% 49%;
  margin: 0 9%;
  padding: 3rem 0;
  gap: 2%;
  overflow: hidden;
}
#promo .promo-img img {
  width: 100%;
  height: 18.4rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  overflow: hidden;
}
#promo .promo-text {
  font-family: "Lato", sans-serif;
  line-height: 1.7rem;
  color: #602814;
  text-align: justify;
}
#promo .promo-text h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
#promo .promo-text .promo-ends {
  padding-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1rem;
}
#promo .promo-text .promo-countdown {
  display: flex;
  width: 100%;
}
#promo .promo-text .promo-countdown .countdown {
  background-color: #602814;
  color: #fffffe;
  margin-top: 0.8rem;
  text-align: center;
  padding: 0.5rem;
  border: 4px solid #fffffe;
  width: 100%;
}
#promo .promo-text .promo-countdown .promo-end-text {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
  #promo {
    grid-template-columns: auto;
    margin: 0 1rem;
  }
  #promo .promo-img img {
    height: 17rem;
  }
  #promo .promo-text h3 {
    font-size: 1.3rem;
  }
  #promo .promo-text p {
    font-size: 1rem;
  }
  #promo .promo-text .promo-countdown .countdown {
    background-color: #602814;
    color: #fffffe;
    margin-top: 0.8rem;
    text-align: center;
    padding: 0.5rem;
    border: 4px solid #fffffe;
    width: 100%;
  }
  #promo .promo-text .promo-countdown .promo-end-text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
}
.face-main-text {
  left: 23%;
}

#faq {
  background-color: rgba(96, 40, 20, 0.2);
  padding: 3rem 0;
}
#faq .faq-head {
  padding-bottom: 2.5rem;
  text-align: center;
  font-size: 1.8rem;
  color: #602814;
  font-family: "Playfair Display", serif;
}
#faq .faq-btn {
  border-radius: 1rem;
  margin: auto;
  width: 7rem;
}
#faq .faq-btn button {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  background: #602814;
  color: #fffffe;
  cursor: pointer;
  transition: all 400ms ease;
  font-size: 0.8rem;
  box-shadow: none;
}
#faq .faq-btn button:hover {
  background: #602814;
  color: #fffffe;
  font-size: 0.9rem;
}
#faq .faq-container {
  margin: 0 9%;
}
#faq .faq-container .questions {
  background-color: #fffffe;
  margin-bottom: 1rem;
  line-height: 2rem;
}
#faq .faq-container .questions .question-title {
  display: flex;
  color: #602814;
  font-family: "Playfair Display", serif;
  padding: 1rem;
  justify-content: space-between;
}
#faq .faq-container .questions .question-title .question-btn {
  font-size: 1.3rem;
  background-color: rgba(96, 40, 20, 0.2);
  border: 2px solid #602814;
}
#faq .faq-container .questions .question-title .question-btn .minus {
  display: none;
}
#faq .faq-container .questions .question-title .question-btn .display-btns {
  display: inline-block;
}
#faq .faq-container .questions .question-answer {
  font-family: "Lato", sans-serif;
  color: #602814;
  padding: 1rem;
  display: none;
  border-top: 2px solid rgba(96, 40, 20, 0.5);
}
#faq .faq-container .questions .display-btns {
  display: block;
}

.unshow {
  display: none;
}

@media screen and (max-width: 1024px) {
  #faq .faq-head {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  #faq .faq-btn {
    margin-top: 2rem;
  }
  #faq .faq-container {
    margin: 0 2rem;
  }
  #faq .faq-container .questions .question-title {
    font-size: 0.9rem;
    align-items: center;
  }
  #faq .faq-container .questions .question-title h3 {
    padding-right: 1rem;
    text-align: justify;
  }
  #faq .faq-container .questions .question-title .question-btn {
    font-size: 1.2rem;
    height: 100%;
    padding: 0.2rem;
  }
  #faq .faq-container .questions .question-title .question-btn .display-btns {
    display: inline-block;
  }
  #faq .faq-container .questions .question-answer {
    font-size: 1rem;
    text-align: justify;
  }
}
#signup {
  background-image: url(./images/arami/Wander-Series-flatlay-ABC.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#signup .sign-overlay {
  background-color: rgba(96, 40, 20, 0.5);
}
#signup .sign-overlay .sign {
  margin: auto;
  padding: 3rem 0;
  width: 40%;
  overflow: hidden;
}
#signup .sign-overlay .sign h3 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  padding-bottom: 2rem;
  color: #fffffe;
  text-align: center;
}
#signup .sign-overlay .sign p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #fffffe;
  padding-bottom: 2rem;
}
#signup .sign-overlay .sign input {
  font-size: 1.1rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  border: 2px solid #602814;
  width: 100%;
}
#signup .sign-overlay .sign div {
  text-align: center;
}
#signup .sign-overlay .sign div button {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  background: #602814;
  color: #fffffe;
  cursor: pointer;
  transition: all 400ms ease;
  font-size: 0.8rem;
  box-shadow: none;
  border: 1px solid #fffffe;
  width: 10rem;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
}
#signup .sign-overlay .sign div button:hover {
  background: #602814;
  color: #fffffe;
  font-size: 0.9rem;
}
#signup .sign-overlay .sign div button:hover {
  cursor: pointer;
  background-color: #602814;
  font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
  #signup .sign-overlay .sign {
    width: 100%;
  }
  #signup .sign-overlay .sign p {
    text-align: center;
  }
  #signup .sign-overlay .sign input {
    text-align: center;
    width: 50%;
    text-align: justify;
  }
}
@media screen and (max-width: 600px) {
  #signup .sign-overlay {
    padding: 1rem;
  }
  #signup .sign-overlay .sign h3 {
    font-size: 1.5rem;
  }
  #signup .sign-overlay .sign p {
    text-align: justify;
    font-size: 1rem;
  }
  #signup .sign-overlay .sign input {
    width: 100%;
    font-size: 1rem;
  }
}
#sp {
  background-color: #fffffe;
}
#sp .single-ctn {
  margin: 0 9%;
  padding: 10rem 0;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}
#sp .single-ctn .single-image {
  width: 100%;
}
#sp .single-ctn .single-image img {
  width: 100%;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#sp .single-ctn .single-text {
  color: #292828;
  font-family: "Lato", sans-serif;
  text-align: justify;
}
#sp .single-ctn .single-text h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: #602814;
  text-align: start;
}
#sp .single-ctn .single-text h4 {
  font-size: 1rem;
  padding-bottom: 0.2rem;
}
#sp .single-ctn .single-text p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 1rem;
}
#sp .single-ctn .single-text .quantity {
  font-size: 1rem;
  padding: 1rem;
}
#sp .single-ctn .single-text .quantity .quan-btn {
  display: flex;
  justify-content: space-between;
  border: 2px solid #292828;
  padding: 0.8rem 0.5rem;
  margin: 1rem;
  width: 8rem;
}
#sp .single-ctn .single-text .quantity .quan-btn .minus,
#sp .single-ctn .single-text .quantity .quan-btn .plus,
#sp .single-ctn .single-text .quantity .quan-btn .quantity-input {
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  width: 100%;
}
#sp .single-ctn .single-text .quantity .quan-btn .minus,
#sp .single-ctn .single-text .quantity .quan-btn .plus {
  cursor: pointer;
}
#sp .single-ctn .single-text .quantity .quan-btn .quantity-input {
  padding-bottom: 0;
}
#sp .single-ctn .single-text .add-to-cart {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  background: #602814;
  color: #fffffe;
  cursor: pointer;
  transition: all 400ms ease;
  font-size: 0.8rem;
  box-shadow: none;
  border-radius: 0;
  font-size: 1.2rem;
  padding: 0.8rem 0;
}
#sp .single-ctn .single-text .add-to-cart:hover {
  background: #602814;
  color: #fffffe;
  font-size: 0.9rem;
}
#sp .single-ctn .single-text .add-to-cart:hover {
  background: #602814;
  color: #fffffe;
  font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
  #sp .single-ctn {
    margin: 0 9%;
    padding: 9rem 0;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  #sp .single-ctn {
    padding-top: 8rem;
    padding-bottom: 5rem;
  }
  #sp .single-ctn .single-image img {
    height: 20rem;
  }
  #sp .single-ctn .single-text h1 {
    font-size: 1.8rem;
  }
  #sp .single-ctn .single-text h4 {
    font-size: 0.9rem;
  }
  #sp .single-ctn .single-text p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 0.2rem;
  }
  #sp .single-ctn .single-text .quantity {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  #sp .single-ctn .single-text .add-to-cart {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    background: #602814;
    color: #fffffe;
    cursor: pointer;
    transition: all 400ms ease;
    font-size: 0.8rem;
    box-shadow: none;
    font-size: 1.2rem;
    padding-top: 0.8rem;
  }
  #sp .single-ctn .single-text .add-to-cart:hover {
    background: #602814;
    color: #fffffe;
    font-size: 0.9rem;
  }
  #sp .single-ctn .single-text .add-to-cart:hover {
    background: #602814;
    color: #fffffe;
    font-size: 1.4rem;
  }
}
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
}
.cart-overlay .s-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 400px;
  background: hsl(210, 36%, 96%);
  padding: 3rem 1rem 0 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}
.cart-overlay .s-cart header .text-slanted {
  font-weight: 800;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  text-align: center;
}
.cart-overlay .s-cart footer .cart-total {
  font-style: italic;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}
.cart-overlay .s-cart footer .cart-checkout {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  padding: 0.6rem;
  display: block;
  border-radius: 1.1rem;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: #d3a067;
}
.cart-overlay .s-cart .cart-close {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
.cart-overlay .s-cart .cart-close .material-symbols-outlined {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #602814;
  font-weight: bold;
  cursor: pointer;
}
.cart-overlay .s-cart .cart-items {
  overflow-x: hidden;
}
.cart-overlay .s-cart .cart-items .cart-item {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  align-items: center;
}
.cart-overlay .s-cart .cart-items .cart-item .cart-item-img {
  width: 75px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
}
.cart-overlay .s-cart .cart-items .cart-item div .cart-item-name {
  margin-bottom: 0.15rem;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
}
.cart-overlay .s-cart .cart-items .cart-item div .cart-item-price {
  margin-bottom: 0;
  font-size: 0.9rem;
  color: #292828;
  font-family: "Lato", sans-serif;
}
.cart-overlay .s-cart .cart-items .cart-item div .cart-item-remove-btn {
  background: transparent;
  border-color: transparent;
  color: #602814;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}
.cart-overlay .s-cart .cart-items .cart-item div .cart-item-increase-btn,
.cart-overlay .s-cart .cart-items .cart-item div .cart-item-decrease-btn {
  background: transparent;
  border-color: transparent;
  color: #602814;
  cursor: pointer;
  padding: 0.25rem;
}
.cart-overlay .s-cart .cart-items .cart-item div .cart-item-increase-btn .bx,
.cart-overlay .s-cart .cart-items .cart-item div .cart-item-decrease-btn .bx {
  font-weight: bold;
  font-size: 1.1rem;
}
.cart-overlay .s-cart .cart-items .cart-item div .cart-item-amount {
  margin-bottom: 0;
  text-align: center;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #292828;
  line-height: 1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

.show-cart-overlay {
  opacity: 1;
  z-index: 100;
}

.show-cart {
  opacity: 1;
  z-index: 101;
  animation: bounce 400ms ease-in-out 1;
}

@keyframes bounce {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}/*# sourceMappingURL=styles.css.map */